# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vswp
/**/*.vswp
*.json
/**/*.json

/_v_recycle_bin
/**/_v_recycle_bin

/**/*.filters
/**/*.user
/**/.vs

*.vcxproj
/**/*.vcxproj

/**/Debug
/**/Release